// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

.introduction-list-item {
  border-bottom: 1px solid #ccc;
  position: relative;
  margin: 20px;
  cursor: pointer;
}

.introduction-list-item h3 {
  font-size: 20px;
}

.introduction-list-item span {
  position: absolute;
  top: 0;
  right: 5px;
}

.introduction-content {
  display: none;
}